* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    background-color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}
.logo-header{
    width: 50px;
    border-radius: 50%;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.boton{
    background-color: white;
    color: #000000;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}