@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #ffffff;
}
table {
    background-color: #ffffff
    ;
    width: 100%;
    text-transform: uppercase;
}

caption {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    top: center;
    padding: 5px 0px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 5px 0px 0px;
}

table, caption, th, td {
    border: 5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

caption:hover{
    background: rgb(3, 3, 3);
    text-decoration: underline;
}

th:hover {
    background: rgb(235, 235, 235);
    text-decoration: underline;
}

td:hover {
    background: rgb(235, 235, 235);
    text-decoration: underline;
}