* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 20px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
    border-radius: 0 0 10px 10px
}

header {
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
}

header h1 {
    color: #fff;
    font-size: 30px;
    justify-content: center;
}

.menu li:nth-child(1) a {
    color: #d40000;
    text-decoration: underline #ffffff 3px;
}

.logo-header{
    width: 50px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.boton{
    background-color: white;
    color: #000000;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.contenedor {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}

th, td {
    padding: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    
}

th {
    background-color: #000000;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}


.imagen {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
    border: #000000 solid 2px;

}

.imagen:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(0, 0, 0);

}

.descripcion {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    padding-left: 10px;
}

tr:hover {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}

footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px 10px 0 0 ;
}

footer > p {
    margin: 0;
    font-size: 0.9em;
    opacity: 0.8;
}

.contacto p {
    margin: 3px 0;
    font-weight: 300;
    text-align: center;
}

.contacto p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: rgb(68, 129, 170);
}

.redes a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    transition: color 0.3s ease;
    font-size: 1.1em;
}

.redes a:hover {
    color: #00bcd4;
}
